infrastructure/node-red/flows.json
[{"id":"main_flow","type":"tab","label":"eSante Data Streaming","disabled":false,"info":"Main flow for processing patient vitals from MQTT"},{"id":"mqtt_broker_config","type":"mqtt-broker","name":"Mosquitto Broker","broker":"mosquitto","port":"1883","clientid":"node-red-streaming","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"influxdb_config","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"esante","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","rejectUnauthorized":true},{"id":"mqtt_in","type":"mqtt in","z":"main_flow","name":"MQTT - Patient Vitals","topic":"esante/patient/+/vitals/#","qos":"1","datatype":"json","broker":"mqtt_broker_config","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["parse_json"]]},{"id":"parse_json","type":"json","z":"main_flow","name":"Parse JSON","property":"payload","action":"obj","pretty":false,"x":370,"y":200,"wires":[["check_alerts"]]},{"id":"check_alerts","type":"function","z":"main_flow","name":"Check Alert Conditions","func":"// Extract vital data\nconst vital = msg.payload;\nconst battery = vital.metadata?.battery || 100;\nconst heartRate = vital.measurementType === 'HEART_RATE' ? vital.value : null;\n\nlet alertTriggered = false;\nlet alertReason = [];\n\n// Check battery level\nif (battery < 30) {\n    alertTriggered = true;\n    alertReason.push(`Low battery: ${battery}%`);\n}\n\n// Check heart rate\nif (heartRate && heartRate > 150) {\n    alertTriggered = true;\n    alertReason.push(`High heart rate: ${heartRate} BPM`);\n}\n\nif (alertTriggered) {\n    // Create notification payload\n    const notification = {\n        patientId: vital.patientId,\n        timestamp: vital.timestamp,\n        vitalType: vital.measurementType,\n        value: vital.value,\n        unit: vital.unit,\n        alertReason: alertReason.join(', '),\n        deviceId: vital.metadata?.deviceId,\n        battery: battery\n    };\n    \n    // Send to alert output\n    return [notification, null];\n} else {\n    // Send to InfluxDB output\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["send_notification"],["prepare_influx"]]},{"id":"send_notification","type":"function","z":"main_flow","name":"Format Notification","func":"const notification = msg.payload;\nconst patientId = notification.patientId;\n\n// Set MQTT topic for patient-specific notification queue\nmsg.topic = `esante/notifications/patient/${patientId}`;\nmsg.payload = notification;\nmsg.qos = 1; // QoS 1 for guaranteed delivery\nmsg.retain = false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":140,"wires":[["mqtt_notification_out","debug_notification"]]},{"id":"mqtt_notification_out","type":"mqtt out","z":"main_flow","name":"MQTT - Notifications","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker_config","x":1070,"y":140,"wires":[]},{"id":"debug_notification","type":"debug","z":"main_flow","name":"Debug Notifications","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":100,"wires":[]},{"id":"prepare_influx","type":"function","z":"main_flow","name":"Prepare InfluxDB Write","func":"const vital = msg.payload;\n\n// Create InfluxDB line protocol format\nconst measurement = 'patient_vitals';\nconst tags = {\n    patientId: vital.patientId,\n    deviceType: vital.deviceType,\n    measurementType: vital.measurementType,\n    deviceId: vital.metadata?.deviceId || 'unknown'\n};\n\nconst fields = {\n    value: vital.value\n};\n\n// Add second value if exists (for blood pressure diastolic)\nif (vital.value2 !== undefined && vital.value2 !== null) {\n    fields.value2 = vital.value2;\n}\n\n// Add metadata as fields\nif (vital.metadata) {\n    fields.battery = vital.metadata.battery || 0;\n    fields.quality = vital.metadata.quality || 'unknown';\n}\n\n// Convert timestamp to nanoseconds\nconst timestamp = new Date(vital.timestamp).getTime() * 1000000;\n\nmsg.payload = {\n    measurement: measurement,\n    tags: tags,\n    fields: fields,\n    timestamp: timestamp\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":260,"wires":[["influx_out","debug_influx"]]},{"id":"influx_out","type":"influxdb out","z":"main_flow","influxdb":"influxdb_config","name":"InfluxDB - Vitals","measurement":"","precision":"ms","retentionPolicy":"","database":"","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"esante","bucket":"patient_vitals","x":1080,"y":240,"wires":[]},{"id":"debug_influx","type":"debug","z":"main_flow","name":"Debug InfluxDB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]}]